* {
  margin: 0;
  /* overflow-x: hidden; */
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.dark {
  /* background: hsl(208, 95%, 34%); */
  background: hsl(206, 92%, 20%);

  height: 100%;
}
.light {
  background-color: white;
  height: 100%;
}
.container {
  width: 96vw;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.containerNew {
  width: 96%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}
.singleWhiteCard {
  width: 23%;
  height: 360px;
  border: 4px solid transparent;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgb(52, 51, 51);
  background: hsl(208, 95%, 34%);

  text-decoration: none;
  color: white;
}
.loadDark {
  width: 40%;
  font-size: 40px;
  margin: 200px auto;
  color: white;
}
.singleCard {
  width: 23%;
  height: 360px;
  border: 4px solid transparent;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.9);
  background-color: transparent;

  /* justify-content: space-between; */
  text-decoration: none;
  color: black;
}
.singleCard:hover {
  /* background-color: azure; */
  border: 4px solid #d0d0d0;
  /* background: #eae8e8; */
}
.singleWhiteCard:hover {
  border: 4px solid #d0d0d0;
}
.flag {
  width: 100% !important;
  height: 200px;
  border-radius: 1px;
  /* border: 3px solid rgb(42, 41, 41); */
  border-bottom: 1px solid grey;
}
.backHome {
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: black;
  padding: 10px;
  /* border: 1px solid black; */
  margin: 20px 50px;
  cursor: pointer;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  background-color: transparent;
}
.backHomeS {
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: black;
  padding: 10px;
  /* border: 1px solid black; */
  margin: 0px 50px;
  margin-top: -30px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  background-color: transparent;
}
.backHome:hover {
  background-color: rgb(220, 221, 223);
}
.backDarkHome {
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: white;
  padding: 10px;
  /* border: 1px solid black; */
  margin: 20px 50px;
  cursor: pointer;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  /* background-color: transparent; */
  background: hsl(208, 95%, 34%);
}
.backDarkHomeS {
  text-decoration: none;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: white;
  padding: 10px;
  margin: 0px 50px;
  margin-top: -30px;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  background-color: transparent;
}
.backDarkHome:hover {
  background-color: rgb(6, 40, 80);
}
.backDarkHomeS:hover {
  background-color: rgb(6, 40, 80);
}
.backHomeS:hover {
  background-color: rgb(220, 221, 223);
}
.countryDetails {
  width: 94%;
  margin: 50px auto;
  /* border: 1px solid black; */
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.9);
  background-color: transparent;
}
.countryDetailsDark {
  width: 94%;
  margin: 50px auto;
  /* border: 1px solid black; */
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.75);
  /* background-color: transparent; */
  background: hsl(208, 95%, 34%);

  color: white;
}
.flagInDetails {
  width: 500px;
  height: 300px;
  /* box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45); */
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.75);
}
.countryDetailValuesTwo {
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.countryDetailValuesTwo p {
  font-size: 22px;
  margin-bottom: 10px;
}
.countryDetailValuesTwo img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
  /* box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(208, 26, 26, 0.9); */
  background-color: aliceblue;
}

.countryDetailValuesOne {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: transparent;
}
.countryDetailValuesOne p {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
}
.title {
  font-size: 30px;
  text-transform: uppercase;
}
.block {
  display: block;
}
.none {
  display: none;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 10px;
  height: 70px;
  background-color: rgb(251, 251, 251);
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
.headerDark {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 70px;
  background-color: rgb(8, 69, 135);
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  color: white;
}
.detailsMain {
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: hidden !important;
}
.detailsMainDark {
  height: 100vh !important;
  width: 100% !important;
  overflow-x: hidden !important;
}
.header h1 {
  font-size: 30px;
}
.inputDiv {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 90px;
  margin-left: 50px;
}
.inputDiv input {
  width: 90%;
  height: 50px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  /* box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem rgba(74, 58, 58, 0.9) !important; */
  box-shadow: 0 0 5pt 1pt #d3d3d3;
}

::placeholder {
  font-size: 20px;
}
.inputDiv input:focus {
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.searchFeed {
  margin: 70px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.loading {
  width: 40%;
  font-size: 40px;
  margin: 200px auto;
}
.filterBox {
  padding: 10px 25px;
  background: transparent;
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 5px;

  cursor: pointer;
  width: 220px;
  margin: 30px 1200px;
  box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.9);
}
.filterBoxDark {
  padding: 10px 25px;
  background: transparent;
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background: hsl(206, 95%, 29%);

  cursor: pointer;
  width: 220px;
  margin: 30px 1200px;
  box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.9);
}
.filterBox select {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  /* color: white; */
}
.filterBoxDark select {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}
.filterBoxDark select option {
  color: black;
}
.mode {
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}
.mode p {
  width: 90%;
  padding: 10px;
  text-align: center;
}
.mode:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .header {
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
    background-color: whitesmoke;
  }
  .mode {
    font-size: 16px;
  }
  .mode p {
    width: 100%;
  }
  .container {
    flex-direction: column;
    margin: 5px auto;
    width: 88vw;
  }
  .singleCard {
    width: 100%;
  }
  .singleWhiteCard {
    width: 100%;
  }
  .filterBox {
    margin: 0px 150px;
    height: 40px;
    font-size: 18px;
    width: 200px;
    padding: 10px 15px;
    margin-top: 90px;
    margin-bottom: 10px;
  }
  .filterBoxDark {
    margin: 0px 150px;
    height: 40px;
    font-size: 18px;
    width: 200px;
    padding: 10px 15px;
    margin-top: 90px;
    margin-bottom: 10px;
  }
  .header h1 {
    font-size: 14px;
    margin-right: 20px;
  }
  .headerDark {
    width: 100vw;
    justify-content: space-evenly;
    height: 70px;
  }
  .headerDark h1 {
    font-size: 14px;
    margin-right: 20px;
  }
  .inputDiv {
    width: 320px;
    margin-left: 40px;
    margin-top: 90px;
  }
  .inputDiv input {
    width: 100%;
  }
  ::placeholder {
    font-size: 17px;
  }
  .countryDetails {
    flex-direction: column;
    height: fit-content;
  }
  .countryDetailsDark {
    flex-direction: column;
    height: fit-content;
  }
  .flagInDetails {
    width: 100%;
  }
}
